# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
**/logs/*
*.log

# MediaPipe and OpenCV temporary files
*.pbtxt
*.tflite

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
